*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
:root{
  font-size: 62.5%;
  font-family: 'Roboto', sans-serif;
  
  --color-text: #3f3f3f;
}
.header{
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 2rem auto 5rem auto;
}
.header-title{
  font-size: 3rem;
  text-transform: uppercase;
  color: var(--color-text)

}
.main{
  max-width: 150rem;
  margin: auto;
  display: flex;
  padding: 2rem;
  box-shadow: rgba(159, 187, 135, 0.5) 0px 6px 20px;
}
