*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
:root{
  font-size: 62.5%;
  font-family: 'Roboto', sans-serif;
  
  --color-text: #3f3f3f;
}
.header{
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 2rem auto 5rem auto;
}
.header-title{
  font-size: 3rem;
  text-transform: uppercase;
  color: var(--color-text)

}
.main{
  max-width: 150rem;
  margin: auto;
  display: flex;
  justify-content: center;
  padding: 2rem;
  box-shadow: rgba(159, 187, 135, 0.5) 0px 6px 20px;
}
.products{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 90%;
  max-width: 120rem;
  margin-top: 2rem;
}
.form{
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-bottom: 2rem;
}
.form-submit{
  color: var(--color-text);
  background-color: rgba(159, 187, 135, 0.5);
  padding: 8px 12px;
  border-radius: 4px;
}
.cart{
  align-self: flex-start;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  padding: 15px;
  border-radius: 6px;
  width: 100%;
  max-width: 300px;
  margin-bottom: 30px;
}
.cart-item{
  list-style: none;
}
.products-title{
  font-size: 2rem;
  text-transform: uppercase;
  color: var(--color-text);
  background-color: rgba(159, 187, 135, 0.5);
  padding: 8px 12px;
  border-radius: 4px;

}
.product-btn {
  background-color: rgba(159, 187, 135, 0.5);
  color: white;
  border: none;
  padding: 8px 12px;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.product-btn:hover {
  background-color: rgba(169, 227, 135, 0.5);
}

.product-btn--selected {
  background-color: white;
  color:rgba(159, 187, 135, 0.5);
  border: 2px solid rgba(159, 187, 135, 0.5);
}
